<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSFD Search</title>
</head>
<body>

  <form method="get">
    <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}">
    <button type="submit">Search</button>
  </form>

  <h2>Films</h2>
  {% for movie in movies %}
    <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a><br>
  {% endfor %}

  <h2>Actors</h2>
  {% for actor in actors %}
    <a href="{% url 'actor_detail' actor.id %}">{{ actor.name }}</a><br>
  {% endfor %}

</body>
</html>
